<h1>Welcome <%= @user.name %>, here are your flash card sets:</h1>

  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
  
  <% if @user.is_admin %>
  <h2>Admin Options</h2>
  <ul>
    <li><%= link_to 'Manage users', users_path %></li>
    <li><%= link_to 'Manage card sets', card_sets_path %></li>
    <li><%= link_to 'Manage cards', cards_path %></li>
  </ul>
<% end %>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Known Cards</th>
    <th>Unknown Cards</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @card_sets.each do |card_set| %>
  <tr>
    <td><%= card_set.id %></td>
    <td><%= card_set.name %></td>
    <td><%= card_set.known %></td>
    <td><%= card_set.unknown %></td>
    <td><%= card_set.total %></td>
    <td><%= link_to 'Start studying', start_study_path(card_set) %></td>
    <td><%= link_to 'Show', card_set %></td>
    <td><%= link_to 'Edit', edit_card_set_path(card_set) %></td>
    <td><%= link_to 'Destroy', card_set, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card set', new_card_set_path %>