<h1>Listing card_sets</h1>

  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Users</th>
    <th></th>
    <th></th>
  </tr>

<% @card_sets.each do |card_set| %>
  <tr>
    <td><%= card_set.id %></td>
    <td><%= card_set.name %></td>
    <td><%= card_set.users.collect{|user| user.name}.join(', ¿') %></td>
    <td><%= link_to 'Show', card_set %></td>
    <td><%= link_to 'Edit', edit_card_set_path(card_set) %></td>
    <td><%= link_to 'Destroy', card_set, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card set', new_card_set_path %>
