<h1>Login for Web Flashcards</h1>

  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

<%= form_for(@user, :url => login_users_path) do |f| %>

<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Let me in!" %>
  </div>
  
<% end %>

New user? <%= link_to 'Sign up!', new_user_path() %> <br>