<h1>Create user for Web Flashcards</h1>

  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
  
<%= form_for(@user, :html => {:multipart => true} ) do |f| %>

<% if @user.errors.any? %>
 <div id="error_explanation">
   <div class="alert alert-error">
     The form contains <%= pluralize(@user.errors.count, "error") %>.
   </div>
   <ul>
   <% @user.errors.full_messages.each do |msg| %>
     <li>* <%= msg %></li>
  <% end %>
   </ul>
 </div>
<% end %>

<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Create User!" %>
  </div>
  
<% end %>