<%= form_for(@card, :html => {:multipart => true}) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
 
    <%= f.label :card_set%>
    <%= f.select(:card_set,@user.card_sets.all.collect {|c| [c.name, c.id ] }.map {|key, value| [key, value]}, {:selected => @card.card_set.id})%>
  </div>
  
  <div class="field">
    <%= f.label :frontpage_text %>  
    <%= f.label :backpage_text %>
    <br />
    <%= f.text_area :frontpage_text %>
    <%= f.text_area :backpage_text %>
  </div>
  <div class="field">
   <%= f.label :frontpage_image %>
   <%= f.label :backpage_image %><br> 
    <%= f.file_field :frontpage_image %>
    <%= f.file_field :backpage_image %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
