<h1>Listing cards</h1>

  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

<table>
  <tr>
    <th>Known</th>
    <th>Frontpage text</th>
    <th>Frontpage image</th>
    <th>Backpage text</th>
    <th>Backpage image</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.known %></td>
    <td><%= card.frontpage_text %></td>
    <td><%= card.frontpage_image %></td>
    <td><%= card.backpage_text %></td>
    <td><%= card.backpage_image %></td>
    <td><%= card.category %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
