<p id="notice"><%= notice %></p>

<h1>Answer </h1>
<h2>Category: <%= @card.category %></h2>

<p id="card">
  <%= @card.backpage_image.to_s.empty? ?  @card.backpage_text :  image_tag(@card.backpage_image, :width => 600) %>
</p>

<p>
<%= link_to 'Known', known_card_path(@card.card_set, @card)  %> <%= link_to 'Unknown', unknown_card_path(@card.card_set, @card)    %>
</p>
<p>
<%= link_to 'Edit', edit_card_path(@card) %> <br>
<%= link_to 'See all cards', cards_path %>
</p>