<p id="notice"><%= notice %></p>

<h1>Question</h1>
<h2> Category:  <%= @card.category %> </h2>

<p>
  <%= @card.frontpage_image.to_s.empty? ?  @card.frontpage_text :  @card.frontpage_image %>
</p>


<p>
<%= link_to 'Answer', answer_card_path(@card) %>
</p>
<p>
<%= link_to 'Edit', edit_card_path(@card) %> <br>
<%= link_to 'List of all cards', cards_path %>
</p>

