<p id="notice"><%= notice %></p>

<h1>Question</h1>
<h2> Category:  <%= @card.category %> </h2>

<p id="card">
  <%= @card.frontpage_image.to_s.empty? ?  @card.frontpage_text :  image_tag(@card.frontpage_image, :width => 600) %>
</p>


<p>
<%= link_to 'Answer', study_answer_card_path(@card) %>
</p>
<p>
<%= link_to 'Edit', edit_card_path(@card) %> <br>
<%= link_to 'See all cards', @card.card_set %>
</p>

