<p id="notice"><%= notice %></p>

<h1>Answer </h1>
<h2>Category <%= @card.category %></h2>

<p>
  <%= @card.backpage_image.to_s.empty? ?  @card.backpage_text :  @card.backpage_image %>
</p>


<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being marked as known:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.check_box :known %>
    <%= f.label :known %>
  </div>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>
<%=  link_to 'Next question', question_card_path(@nextCard) unless @nextCard.nil? %>
</p>
<p>
<%= link_to 'Edit', edit_card_path(@card) %> <br>
<%= link_to 'Back', cards_path %>
</p>